In [18]:
from Python.generator import Problem
import random as rand
import pandas as pd

In [19]:
problem = Problem('Nivel basico', 'nivel_basico', 'custom')

n_rovers = 2
suministros = 20
personal = 10
optim = True

mars_map = [(1, 2), (2, 3), (3, 4)]
warehouses = [2]
settlements = [1, 3, 4]
r_map = 0.5

In [20]:
# seeds = [rand.randint(1, 1000000000) for _ in range(10)]
seeds = [310294340,
 481384238,
 393948691,
 54466310,
 393844825,
 607440463,
 611846857,
 836378547,
 666002099,
 639709340]

In [22]:
n = len(seeds)
results = []
for seed in seeds:
    objects, init = problem.generate_problem(
        n_rovers, suministros, personal, mars_map, warehouses, settlements, r_map, seed)

    problem.write_problem(objects, init)
    problem.execute(optim)
    steps, times, result = problem.read_output()
    results.append(result)

./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl
./Nivel basico/practica-prob-custom.pddl

In [23]:
mean = []

df = pd.DataFrame(results)
df = df.astype(float)
mean = df.mean()

# print(results[0])
print('------------------------------------------')
print(f"Step: {mean[0]}")
print(f"Time: {mean[1]}")
print(f"easy actions: {mean[2]}")
print(f"hard actions: {mean[3]}") # Este no está puesto para apuntar, perquè siempre ha sido cero
print(f"facts: {mean[4]}")
print(f"actions: {mean[5]}")
print(f"relevant facts: {mean[6]}")
print(f"relevant fluents: {mean[7]}")
print(f"states: {mean[8]}")
print(f"depth: {mean[9]}")
print('------------------------------------------')

[73, '0.31', '432', '0', '158', '132', '158', '0', '587', '0']
------------------------------------------
Step: 70.3
Time: 0.295
easy actions: 432.0
hard actions: 0.0
facts: 158.0
actions: 132.0
relevant facts: 158.0
relevant fluents: 0.0
states: 666.2
depth: 0.0
------------------------------------------

In [24]:
df

      0     1      2    3      4      5      6    7      8    9
0  73.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  587.0  0.0
1  74.0  0.32  432.0  0.0  158.0  132.0  158.0  0.0  599.0  0.0
2  72.0  0.00  432.0  0.0  158.0  132.0  158.0  0.0  571.0  0.0
3  67.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  732.0  0.0
4  71.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  677.0  0.0
5  71.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  601.0  0.0
6  69.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  680.0  0.0
7  68.0  0.47  432.0  0.0  158.0  132.0  158.0  0.0  850.0  0.0
8  71.0  0.30  432.0  0.0  158.0  132.0  158.0  0.0  717.0  0.0
9  67.0  0.31  432.0  0.0  158.0  132.0  158.0  0.0  648.0  0.0